/*
    MOBILE CSS SHEET
*/
@font-face {
    src: url(Poison-Regular.otf);
    font-family: "font";
}

* {
    font-family: "font";
}

@media only screen and (min-width: 100px) and (max-width: 1000px) {

    body,html {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
        -webkit-font-smoothing: antialiased;
    }

    #hero-bg {
        position: fixed;
        margin-left: -50%;
        top: 0;
        z-index: -1;
        height: 100%;
        width: 300%;
    }

    h1 {
        font-size: 600%;
    }

    p {
        font-size: 300%;
    }

    #wrapper {
        padding: 0;
        margin: 0;
    }

    header {
        position: fixed;
        top: 0%;
        height: auto;
        width: 100%;
        background-color: #fff;
        z-index: 10;
        padding: 5%;
        opacity: 0;
    }
 
    #nav-ul {
        margin-top: 0%;
        margin-left: 0%;   
    }

    #nav-ul li {
        list-style: none;
        display: inline;
        margin-right: 5%;
    }

    #nav-ul img {
        width: 10%;
    }

    #landing-page-assets {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: fixed;
        background-image: url("../media/mobile/landing_page_media_mobile/background.png");
        background-size: cover;
        filter: blur(10px);
    }

    #flower {
        position: fixed;
        top: 20%;
        margin-left: -50%;
        display: none;
        width: 200%;
        z-index: 5;
    }

    #text {
        position: fixed;
        top: 18%;
        margin-left: -50%;
        opacity: 0;
    }

    #intro-text-container {
        margin-top: 50%;
        margin-left: 5%;
        color: #fff;
    }

    #scroll-down-container {
        padding-top: 70%;
        text-align: center;
        margin-bottom: 30%;
    }

    #scroll-down-container p {
        opacity: 1;
        font-weight: bolder;
        color: #fff;
    }

    #main-page {
        position: absolute;
        top: 100%;
        height: 100%;
        width: 100%;
    }

    section {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    #section-1 {
        background-image: url("../media/mobile/visual_and_graphic_art_mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 30%;
    }

    #section-2 {
        background-image: url("../media/mobile/logo_design_mobile/logo_design_page_mobile/LOGO_COLLECTION_mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #000;
    }

    #section-3 {
        background-image: url("../media/mobile/digital_and_print_promo_mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 10%;
    }

    #section-4 {
        background-image: url("../media/mobile/photo_edits_mobile.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 40%;
    }

    #nav-bar {
        position: fixed;
        top: 40%;
        left: 90%;
        height: 500px;
        width: 20px;
        background-color: rgb(255, 255, 255, 0.5);
        border-radius: 20px;;
        opacity: 0;
    }

    #nav-bar-fill {
        height: 0;
        width: 100%;
        background-color: #fff;
        border-radius: 20px;
        opacity: .7;
    }

    #section1-details-text,#section2-details-text,#section3-details-text,#section4-details-text {
        margin-left: 5%;
        color: #fff;
        opacity: .9;
    }

    #section1-details-text h1,#section2-details-text h1,#section3-details-text h1,#section4-details-text h1 {
        opacity: 0;
        margin-left: -10%;
        margin-top: 0;
    }

    .section-text > h1:first-of-type {
        padding-top: 30%;
        margin-bottom: 145%;
    }

    #view-button {
        position: fixed;
        right: 0%;
        bottom: 10%;
        font-size: 300%;
        font-weight: bolder;
        height: 150px;
        width: 150px;
        border-radius: 100px;
        border: none;
        background-color: #fff;
        color: #000;
        opacity: 0;
    }
}